%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand", id: "logo" do
        Muse
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse      
      %ul.nav.navbar-nav.navbar-right
        - if signed_in?
          = yield :right_nav
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-user.fa-fw
              = current_user.name
              %span.caret
            %ul.dropdown-menu
              %li= link_to "Add New Post", new_post_path
              %li= link_to "User Settings", edit_user_registration_path
              %li.divider{:role => "separator"}
              %li= link_to "Logout", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign Up", new_user_registration_path
          %li= link_to "Login", new_user_session_path
    / /.navbar-collapse
  / /.container-fluid
