%h1= @post.title
%p= @post.link
%p= simple_format(@post.description)
%p= @post.user.name

= link_to "Edit", edit_post_path(@post)
= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are You Sure?" }
= link_to "Home", root_path
