#post_show
  %h1= @post.title
  %p.username
    Shared by
    = @post.user.name
    about
    = time_ago_in_words(@post.created_at)
  .clearfix
    .post_image_description
      = image_tag @post.image.variant(resize: "700x500")
      .description= simple_format(@post.description)
    .post_data
      = link_to "Visit Link", @post.link, class: "button"
      .data
        #likes
          = render 'likes'
      %p.data
        %i.far.fa-comments
        = pluralize(@post.comments.count, "Comment")
      - if @post.user == current_user
        = link_to "Edit", edit_post_path(@post), class: "data"
        = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are You Sure?" }, class: "data"
    
    - if Post.count > 1    
      #random_post
        %h3 Random Post
        .post
          .post_image
            = link_to (image_tag @random_post.image.variant(resize: "350x250")), post_path(@random_post)
          .post_content
            .title
              %h2= link_to @random_post.title, post_path(@random_post)
            .data.clearfix
              %p.username
                Shared by
                = @random_post.user.name
              %p.buttons
                %span
                  %i.far.fa-comments
                  = pluralize(@random_post.comments.count, "Comment")
                %span
                  %i.fas.fa-heart
                  = pluralize(@random_post.likes.size, "Like")                  

#comments
  %h3.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %p.content= comment.content
  
  = render 'comments/form'